{% extends 'base.html' %}
{% block title %}About Us - Eknal Technologies{% endblock %}


{% block content %}
  <main>
    <article>

      <section class="section hero has-bg-image" aria-label="home"
        style="background-color: black;">
        <div class="container">

          <div class="hero-content">

            <h1 class="h1 hero-title">About us</h1>

            <p class="hero-text">
              At Eknal Technologies, we specialize in delivering cutting-edge tech solutions tailored to your business needs. Whether you need a custom website, web application, or API development, we ensure innovation, efficiency, and scalability.
            </p>

            <div class="btn-wrapper">

              <a href="/" class="btn btn-primary">Explore Now</a>

              <a href="/contact" class="btn btn-outline">Contact Us</a>

            </div>

          </div>

          <div class="hero-slider" data-slider>

            <div class="slider-inner">
              <ul class="slider-container" data-slider-container>

                <li class="item">

                  <figure class="img-holder" style="--width: 575; --height: 550;">
                    <img src="https://i.ibb.co/G4yrLwgS/4167276-18771.jpg" width="575" height="550" alt="" class="img-cover">
                  </figure>

                </li>

          </div>

        </div>
      </section>

{% endblock %}